[submodule "GoodbyeC"]
	path = GoodbyeC
	url = https://github.com/winderica/GoodbyeC
	branch = master
[submodule "GoodbyeDS"]
	path = GoodbyeDS
	url = https://github.com/winderica/GoodbyeDS
	branch = master
[submodule "AdiosDS"]
	path = AdiosDS
	url = https://github.com/winderica/AdiosDS
	branch = master
[submodule "GoodbyeDigitalLogic"]
	path = GoodbyeDigitalLogic
	url = https://github.com/winderica/GoodbyeDigitalLogic
	branch = master
[submodule "GoodbyeASM"]
	path = GoodbyeASM
	url = https://github.com/winderica/GoodbyeASM
	branch = master
[submodule "GoodbyeICS"]
	path = GoodbyeICS
	url = https://github.com/winderica/GoodbyeICS
	branch = master
[submodule "GoodbyeGame"]
	path = GoodbyeGame
	url = https://github.com/winderica/GoodbyeGame
	branch = master
[submodule "GoodbyeOS"]
	path = GoodbyeOS
	url = https://github.com/winderica/GoodbyeOS
	branch = master
[submodule "GoodbyeCompiler"]
	path = GoodbyeCompiler
	url = https://github.com/winderica/GoodbyeCompiler
	branch = master
[submodule "GoodbyeDB"]
	path = GoodbyeDB
	url = https://github.com/winderica/GoodbyeDB
	branch = master
[submodule "GoodbyeNetwork"]
	path = GoodbyeNetwork
	url = https://github.com/winderica/GoodbyeNetwork
	branch = master
[submodule "AdiosOS"]
	path = AdiosOS
	url = https://github.com/winderica/AdiosOS
	branch = master
[submodule "GoodbyeSoftwareSec"]
	path = GoodbyeSoftwareSec
	url = https://github.com/winderica/GoodbyeSoftwareSec
	branch = master
[submodule "AdiosSoftwareSec"]
	path = AdiosSoftwareSec
	url = https://github.com/winderica/AdiosSoftwareSec
	branch = master
[submodule "AdiosCrypto"]
	path = AdiosCrypto
	url = https://github.com/winderica/AdiosCrypto
	branch = master
[submodule "GoodbyeRE"]
	path = GoodbyeRE
	url = https://github.com/winderica/GoodbyeRE
	branch = master
[submodule "GoodbyeSteganography"]
	path = GoodbyeSteganography
	url = https://github.com/winderica/GoodbyeSteganography
	branch = master
[submodule "GoodbyeOrganization"]
	path = GoodbyeOrganization
	url = https://github.com/winderica/GoodbyeOrganization
	branch = master
[submodule "GoodbyeTC"]
	path = GoodbyeTC
	url = https://github.com/winderica/GoodbyeTC
	branch = master
[submodule "GoodbyeSystemSec"]
	path = GoodbyeSystemSec
	url = https://github.com/winderica/GoodbyeSystemSec
	branch = master
[submodule "GoodbyeNetworkSec"]
	path = GoodbyeNetworkSec
	url = https://github.com/winderica/GoodbyeNetworkSec
	branch = master
[submodule "AdiosNetworkSecurity"]
	path = AdiosNetworkSecurity
	url = https://github.com/winderica/AdiosNetworkSecurity
	branch = master
[submodule "GoodbyeNetworkSecurityProgramming"]
	path = GoodbyeNetworkSecurityProgramming
	url = https://github.com/winderica/GoodbyeNetworkSecurityProgramming
	branch = master
[submodule "GraDAuth"]
	path = GraDAuth
	url = https://github.com/winderica/GraDAuth
	branch = master
