[submodule "GoodbyeC"]
	path = GoodbyeC
	url = https://github.com/winderica/GoodbyeC
	branch = master
[submodule "GoodbyeDS"]
	path = GoodbyeDS
	url = https://github.com/winderica/GoodbyeDS
	branch = master
[submodule "AdiosDS"]
	path = AdiosDS
	url = https://github.com/winderica/AdiosDS
	branch = master
[submodule "GoodbyeDigitalLogic"]
	path = GoodbyeDigitalLogic
	url = https://github.com/winderica/GoodbyeDigitalLogic
	branch = master
[submodule "GoodbyeASM"]
	path = GoodbyeASM
	url = https://github.com/winderica/GoodbyeASM
	branch = master
[submodule "GoodbyeICS"]
	path = GoodbyeICS
	url = https://github.com/winderica/GoodbyeICS
	branch = master
[submodule "GoodbyeSoftwareSec"]
	path = GoodbyeSoftwareSec
	url = https://github.com/winderica/GoodbyeSoftwareSec
	branch = master
[submodule "GoodbyeCrypto"]
	path = GoodbyeCrypto
	url = https://github.com/winderica/GoodbyeCrypto
	branch = master
[submodule "GoodbyeGame"]
	path = GoodbyeGame
	url = https://github.com/winderica/GoodbyeGame
	branch = master
[submodule "GoodbyeOS"]
	path = GoodbyeOS
	url = https://github.com/winderica/GoodbyeOS
	branch = master
[submodule "GoodbyeCompiler"]
	path = GoodbyeCompiler
	url = https://github.com/winderica/GoodbyeCompiler
	branch = master
